body{
			padding: 0;
			margin: 0;
		}
		.selectingBox{
			width: 100px;
			height:100px;
			
			
			background-image:url(gfx/file_sprite.png);
			border: 1px solid #aaa;
			float:left;
			margin: 0 10px 10px 0;
		}
		.file{
				background-image:url(gfx/file_sprite.png);
		}
		
		.folder{
		
			
			background-image:url(gfx/folder_sprite.png);
		}
		
		.selectingFolder:hover{
			background-color:#a7a7a7;
		}
		.selectingBox:hover{
			background-position: 0 -100px;
			
		}
		.selectedBox, .selectedBox:hover{
			background-position: 0 -200px;
		}
		
		body{
			background-color: #ccc;
		}
		 
		#back{
			width: 100%;
			min-height:500px;
			background-color:#aaa;
			padding:30px;
		}
		
		#selection{
			-moz-opacity: .20;
			-khtml-opacity: .20;
			-webkit-opacity: .20;
			opacity: .20;	
			background-color:#09F;
			height: 100px; 
			display: none;
			width: 100px;
			position: absolute;
			border: 1px solid  #00f;
		}
		
		li.done{
			text-decoration: line-through;
			
		}